<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parcels General List</title>
    <style>
        table,
        td,
        th {
            border: solid 1px black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <%
        if(parcels.length != 0){
            var i=1;
            %>
    <table>
        <thead>
            <tr>
                <th>ID Pacco</th>
                <th>Stato Pacco</th>
            </tr>
        </thead>
        <% parcels.forEach(parcel =>{
    %>
        <tbody>
            <tr>
                <td><%=i; %></td>
                <% let status;
                if(parcel.deliveryStatus == 0) {
                    status = "In magazzino";
                } else if(parcel.deliveryStatus == 1) {
                    status = "Consegna in mattinata";
                } else {
                    status = "Consegnato";
                }
                %>
                <td><%=status %></td>
            </tr>
            <%      i++; }) %>
        </tbody>
    </table>
    <% } else { %>
    <p>You haven't parcels!</p>

    <% } %>

</body>

</html>